$blueBckg:linear-gradient(180deg, rgba(30, 102, 154, 0.8) 0%,
 rgba(10, 65, 104, 0.8) 100%);
$blue: rgb(49, 130, 237);
$yellow: #FEE040;
$colorTitle: #151515;
$colorText: #333;
$gray: #505050;
$darkGray: #707070;
$white: #fff;
